# Ignore Mac files
.DS_Store

# Ignore Jupyter checkpoint files
.ipynb_checkpoints

# Ignore Python caches
__pycache__/
*.pyc

# Don't sync folder No_sync
No_sync/

# Streamlit secrets
.streamlit/secrets.toml

